language: php
dist: precise
php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - 7.1

script:
  - vendor/bin/tester tests -s -p php

after_failure:
  # Print *.actual content
  - for i in $(find tests -name \*.actual); do echo "--- $i"; cat $i; echo; echo; done

before_script:
  # Install Nette Tester
  - travis_retry composer install --no-interaction --prefer-dist

sudo: false

cache:
  directories:
    - $HOME/.composer/cache
